.main__background {
  width: 75%;
  border-radius: 0.5rem;
  box-shadow: 0 0 1em var(--secondary-color);
  background: rgba(0, 0, 0, 0.75);
  background: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.25)
  );
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid var(--secondary-color);
  padding: 2rem;

  @media screen and (max-width: 450px) {
    width: 90%;
    padding: 0.5rem;
  }
}

.main_section-quote {
  margin-bottom: 2rem;
  q {
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    display: flex;
    justify-content: center;
  }
  p {
    margin: 0.5rem;
    display: flex;
    justify-content: flex-end;
  }
  hr {
    border: 0;
    height: 3px;
    background: linear-gradient(
      to right,
      transparent,
      var(--secondary-color),
      transparent
    );
  }
}

.home-text {
  font-size: 1.2rem;
  text-align: left;
  color: var(--white-color);
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;

  span {
    color: var(--secondary-color);
    font-weight: 700;
  }
  @media screen and (max-width: 450px) {
    font-size: 1rem;
  }
}

.flying-text {
  @media screen and (max-width: 450px) {
    margin: 2rem 0 1rem 0;
  }
}
